
//Setting styling for the category buttons on home page
.homePg-btn {
    background-color: #FBF0D6;
    color: #414042;
    border: none;
    padding: 20px 0px;
    cursor: pointer;
    img {
        pointer-events: none;
    }
}

//Sets hover state of category button
.homePg-btn:hover {
    background-color: #EB5B44;
    color: #ffffff;
    border: none;
    padding: 20px 0px;
    cursor: pointer;
}

//Styling for 'Add Item' button on modal
.addItem-btn {
    background-color: #EB5B44;
    color: #ffffff;
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    margin-left: auto;
    margin-right: 10px;
}

//Styling for X button
.close-btn {
    background-color: #EB5B44;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}

//Hover states for all red buttons
.addItem-btn:hover, .close-btn:hover, .deleteButton:hover {
    background-color: #414042;
    color: #ffffff;
}

//Active state for all red buttons
.addItem-btn:active, .close-btn:active, .deleteButton:active {
    background-color: #F4AFCF;
    color: #414042;
    transform: translateY(4px);
}

//Styling for submit button on form
input[type=submit] {
    background-color: #EB5B44;
    color: #ffffff;
    border: none;
    padding: 15px 40px !important;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
}

//Styling for delete button on individual items
.deleteButton {
    background-color: #EB5B44;
    color: #ffffff;
    border: none;
    padding: 15px 40px !important;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

//Styling of gre close buttons
.itemCloseButton {
    background-color: #d6d6d6;
    color: #414042;
    border: none;
    padding: 15px 40px !important;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}



