
.homePg-btn {
    background-color: #FBF0D6;
    color: #414042;
    border: none;
    padding: 20px 0px;
    cursor: pointer;
}

.homePg-btn:hover {
    background-color: #EB5B44;
    color: #FBF0D6;
    border: none;
    padding: 20px 0px;
    cursor: pointer;
}

.close-btn {
    background-color: #EB5B44;
    color: #FBF0D6;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}