
.homePg-btn {
    background-color: #FBF0D6;
    color: #414042;
    border: none;
    padding: 20px 0px;
    cursor: pointer;
    img {
        pointer-events: none;
    }
}

.homePg-btn:hover {
    background-color: #EB5B44;
    color: #ffffff;
    border: none;
    padding: 20px 0px;
    cursor: pointer;
}

.addItem-btn {
    background-color: #EB5B44;
    color: #ffffff;
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    margin-left: auto;
    margin-right: 10px;
}

.close-btn {
    background-color: #EB5B44;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.addItem-btn:hover, .close-btn:hover, .deleteButton:hover {
    background-color: #414042;
    color: #ffffff;
}

.addItem-btn:active, .close-btn:active, .deleteButton:active {
    background-color: #F4AFCF;
    color: #414042;
    transform: translateY(4px);
}

input[type=submit] {
    background-color: #EB5B44;
    color: #ffffff;
    border: none;
    padding: 15px 40px !important;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.deleteButton {
    background-color: #EB5B44;
    color: #ffffff;
    border: none;
    padding: 15px 40px !important;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}



