@import 'layout';
@import 'typography';
@import 'buttons';

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

header {
    background-color: #FBF0D6;
    img {
        width: 110px;
        margin: 10px 30px;
    }
    h1 {
        font-size: 25px;
        text-align: right;
        padding: 30px 50px;
    }
}

body {
    background-color: #F4AFCF;
}

footer {
    background-color: #EB5B44;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    p {
        text-align: right;
        color: white;
        margin: 20px;
    }
}

.no-padding {
    padding: 0px;
}

.homePg-headers {
    padding: 0.75em 0px;
}