@import 'layout';
@import 'typography';
@import 'buttons';

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

header {
    background-color: #FBF0D6;
    img {
        width: 110px;
        margin: 10px 30px;
    }
    h1 {
        font-size: 25px;
        text-align: right;
        padding: 30px 50px;
    }
}

body {
    background-color: #F4AFCF;
    margin-bottom: 4rem;
}

main {
    position: absolute;
    height: 100%;
    width: 100%;
}

footer {
    background-color: #EB5B44;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    p {
        text-align: right;
        color: white;
        margin: 20px;
    }
}

body::-webkit-scrollbar {
    width: 0.4em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #EB5B44;
  }

.no-padding {
    padding: 0px;
}

.homePg-headers {
    padding: 0.75em 0px;
}

.modal-box {
    max-width: 1000px;
    width: 100%;
    height: auto;
    max-height: 70vh;
    border-radius: 24px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal-box::-webkit-scrollbar {
    width: 0.4rem;
    margin: 10px 0px;
}

.modal-box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    margin: 15px 0px;
    border-radius: 5px;
}

.modal-box::-webkit-scrollbar-thumb {
    background-color: #EB5B44;
    border-radius: 5px;
}

main.active .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -60%) scale(1);
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FBF0D6;
    padding: 20px 30px;
    border-radius: 24px 24px 0px 0px;
    h1  {
        margin-top: 0.5rem;
    }
}

#taskForm {
    padding: 30px 50px;
    label {
        width: 100%;
        margin: 15px 0px 10px 0px;
    }
    input {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }
    input[type=radio] {
        margin: 30.5px 0px;
    }
    input[type=submit] {
        font-size: medium;
        width: auto;
    }
}

#taskDisplay {
    padding: 30px 50px;
    li {
        list-style-type: none;
        break-inside: avoid-column;
        h3 {
            background-color: #FBF0D6;
            width: max-content;
            padding: 5px 10px;
            margin-bottom: 5px;
        }
        p{
            padding: 5px 5px;
        }
        a{
            text-decoration: none;
        }
        .addWear-btn {
            background-color: #EB5B44;
            color: #FBF0D6;
            padding: 5px 15px;
            box-sizing: border-box;
            margin-top: 5px;
            border-radius: 10px;
            border: none;
            width: 100%;
            text-align: left;
        }
    }
}

#wardrobeDisplay {
    li {
        list-style-type: none;
        break-inside: avoid-column;
        .card {
            margin-bottom: 1rem;
        }
        h3 {
            background-color: #FBF0D6;
            width: max-content;
            padding: 5px 10px;
            margin-bottom: 5px;
        }
        p{
            padding: 0px 5px;
        }
        a{
            text-decoration: none;
        }
        .addWear-btn {
            background-color: #EB5B44;
            color: #FBF0D6;
            padding: 5px 15px;
            box-sizing: border-box;
            margin-top: 5px;
            border-radius: 10px;
            border: none;
            width: 100%;
            text-align: left;
        }
        .addWear-btn:hover {
            color: #414042;
            background-color: #FBF0D6;
        }
        
        .addWear-btn:active {
            color: #414042;
            background-color: #C7EBC1;
        }
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    transition: 0.3s;
    width: 100%;
    padding: 15px 15px 0px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.center-items {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-dest {
    display: block;
    width:400px;
    margin-top:20px;
}

fieldset {
    width: 100%;
}

.rate {
    border: none;
    margin: 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.rate > input {
    display: none;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
    margin: 0 !important;
 }

.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #F4AFCF;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #F4AFCF;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #F4AFCF;
}

#itemDisplay{
    padding: 2rem 5rem;
    .itemWears {
        width: max-content;
        background-color: #FBF0D6;
        margin-bottom: 5px;
        padding: 5px 10px;
    }
    li {
        list-style-type: none;
        p {
            margin: 10px;
        }
    }
}

.hidden {
    display: none;
}

.success_text {
    display: none;
    text-align: center;
    font-weight: bold;
}

.success_text.show {
    display: block;
}

.comfortStar {
    color: #F4AFCF;
}

.itemImg {
    width: 100%;
    height: auto;
}
