@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

h1 {
    font-family: 'Lustria', serif;
    font-size: 30px;
    color: #414042;
}

h2, h3, h4, h5, h6, p {
    font-family: 'Mulish', sans-serif;
    color: #414042;
}